
/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #0077ff, #00d4ff);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header h1 {
    font-size: 24px;
    margin: 0;
}


header input {
    padding: 10px; /* Aumentar el padding */
    font-size: 18px; /* Tamaño de fuente más grande */
    border-radius: 20px; /* Redondear los bordes */
    border: 2px solid #ccc; /* Color del borde más claro */
}



.cart button {
    background-color: #ff6b6b; /* Color de fondo más brillante */
    color: white;
    border: none;
    padding: 15px 20px; /* Aumentar el padding */
    cursor: pointer;
    border-radius: 20px; /* Redondear los bordes */
    transition: background-color 0.3s ease; /* Transición para el hover */
}

.cart button:hover {
    background-color: #ff4949; /* Color de fondo más oscuro al pasar el mouse */
}
.cart {
    display: flex;
    align-items: center;
}

/* Lista de libros */
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Aumentar el tamaño de los libros */
    gap: 30px; /* Aumentar el espacio entre los libros */
    padding: 30px; /* Aumentar el padding */
    background-color: #f9f9f9; /* Color de fondo más claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.book {
    background-color: white; /* Color de fondo blanco */
    border: 2px solid #ddd; /* Color del borde más claro */
    border-radius: 10px; /* Redondear los bordes */
    padding: 15px; /* Aumentar el padding */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Redondear los bordes de la imagen */
}

.book button {
    background-color: #007bff; /* Color de fondo más brillante */
    color: white;
    border: none;
    padding: 15px; /* Aumentar el padding */
    margin-top: 15px; /* Aumentar el margen superior */
    cursor: pointer;
    border-radius: 20px; /* Redondear los bordes */
    transition: background-color 0.3s ease; /* Transición para el hover */
}

.book:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%;
    border-radius: 10px;
    
}

.book-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.book-card p {
    margin: 0;
    color: #777;
}
.book-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.book button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
    
}

/* Modal del carrito */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color de fondo más oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease; /* Transición para la opacidad */
}

.modal-content {
    background: white; /* Color de fondo blanco */
    padding: 30px; /* Aumentar el padding */
    border-radius: 10px; /* Redondear los bordes */
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.modal.hidden {
    display: none;
}
/* Estilos para los comentarios */



/* Estilos para los comentarios */

#commentsSection {
    margin: 30px; /* Aumentar el margen */
    padding: 30px; /* Aumentar el padding */
    background-color: #f9f9f9; /* Color de fondo más claro */
    border: 2px solid #ddd; /* Color del borde más claro */
    border-radius: 10px; /* Redondear los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

#commentForm {
    margin-bottom: 30px; /* Aumentar el margen inferior */
}

#commentInput {
    width: 100%;
    padding: 15px; /* Aumentar el padding */
    font-size: 18px; /* Tamaño de fuente más grande */
    border: 2px solid #ccc; /* Color del borde más claro */
    border-radius: 20px; /* Redondear los bordes */
}

#commentForm button {
    background-color: #007bff; /* Color de fondo más brillante */
    color: white;
    border: none;
    padding: 15px 20px; /* Aumentar el padding */
    font-size: 18px; /* Tamaño de fuente más grande */
    cursor: pointer;
    border-radius: 20px; /* Redondear los bordes */
    transition: background-color 0.3s ease; /* Transición para el hover */
}

#commentForm button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}

#commentList {
    list-style-type: none;
    padding: 0;
}

#commentList li {
    margin-bottom: 20px; /* Aumentar el margen inferior */
    padding: 15px; /* Aumentar el padding */
    background-color: #fff; /* Color de fondo blanco */
    border: 2px solid #ddd; /* Color del borde más claro */
    border-radius: 10px; /* Redondear los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}
/*estilo boton de busqueda*/
#searchSection {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#searchButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchResults {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Libros en oferta */
#offersSection {
    margin-top: 40px;
    padding: 20px;
    background-color: #8ed6e2; /* Fondo color crema para resaltar */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    
}

#offersSection h2 {
    text-align: center;
    font-size: 24px;
    color: #101416; /* Color de título para destacar */
    margin-bottom: 20px;
}

#offersList .book-card {
    border: 2px solid #4abcd8; /* Resaltar borde en libros en oferta */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    height: 500px;
    margin: 5px;
    left: 200x;

    
}

#offersList .book-card:hover {

    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#offersList button {
    background-color: #007bff; /* Color de fondo más brillante */
    color: white;
    border: none;
    padding: 15px; /* Aumentar el padding */
    margin-top: 15px; /* Aumentar el margen superior */
    cursor: pointer;
    border-radius: 20px; /* Redondear los bordes */
    transition: background-color 0.3s ease; /* Transición para el hover */
}


